*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-color: rgb(44, 44, 48);
}

.locker{
    height: 100vh;
    width: 101%;
    background-image: url(https://static.my.ge/myauto/photos/4/1/3/6/8/large/99863141_1.jpg);
    background-size: 100% 100%;
    position: absolute;
    .include{
        height: 100%;
        background-color: black;
        opacity:    60%;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        display: flex;
        color: #fff;

        .fa-lock{
            margin-top: 20%;
            position: absolute;
            font-size: 50px;
            margin-left: -10%;
        }
        input{
            position: absolute;
            margin-top: 70%;
            width: 80%;
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 30px;
            outline: none;
            text-indent: 40%;
            height: 5vh;
            display: none ;

        }
        h2{
            margin-top: 60%;
            font-family: sans-serif;
            font-weight: 100;
            letter-spacing: 2px;
            margin-left: -10%;
            position: absolute;
            display: block;
        }
        
        p{
            display: block;
            margin-left: -10%;
            margin-top: 70%;

            font-family: sans-serif;
            letter-spacing: 2px;
            color: #fff;
            position: absolute;
        }
        .numbers{
            position: absolute;
            width: 50%;
            height: 30%;
            margin-top: 90%;
            margin-left: -25%;
            display: grid;
            grid-template-columns: 35% 35% 35%;
            grid-template-rows: 25% 25% 25% 25%; 
            gap: 40px;

            button{
                display: flex;
                align-items: center;
                font-size: 30px;
                color: #fff;
                justify-content: center;
                font-family: sans-serif;
                background-color: rgb(79, 79, 79);
                border-radius: 50%;
                
            }
            button:nth-child(10){
                background-color: transparent;
                border: none;
            }
            }
            button:nth-child(12){
                background-color: transparent;
                border: none;
            }
        }
    }

    .nav{
        display: flex;
        align-items: center;
        gap: 4%;
        display: none;
        #menu{
            border: none;
            background-color: transparent;
            font-size: 25px;
            position: relative;
            left: 10px;
            top: 10px;
            color: #fff;
        }
        img{
            position: relative;
            top: 10px;
            gap: 10px;

            background-size: 100% 100%;
            width: 40px;
            border-radius: 50%;
            height: 40px;
            border: 4px solid rgb(2, 171, 81);
            padding: 2px;
        }
        h1{
            color: #fff;
            font-family: sans-serif;
            font-size: 20px;
            margin-top: 4%;
            margin-left: -2%;

        }
        #unlocked{
            border: none;
            color: #fff;
            background-color: transparent;
            font-size: 20px;
            margin-left: 15%;
            margin-top: 2%;
        }
        #search{
            border: none;
            color: #fff;
            background-color: transparent;
            font-size: 20px;  
            margin-top: 2%; 
        }
    }

.a1{
    margin-left: 10px;
    
}

.a2{
    margin-left: -35px;
}

.a3{
    margin-left: -40px;
}


.private{
    padding: 0 5x;
    display: grid;
    position: fixed;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13% ;
    color: grey;
    margin-top: 10%;
    font-size: 20px;
    color: #a2a2a2;
    grid-row: 1;
    display: none;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 100%;
        width: 50%;
        padding: 8px 20px;
        border-radius: 50%;

    }
}

.private div:hover{
    background-color: rgb(67, 67, 67);
    
}

.main{
    background-color: rgb(87, 87, 87);
    height: 15vh;
    position: fixed;
    width: 100%;
    z-index: 2;


}


#submit{
    position: absolute;
    right: 0px;
    color: #fff;
    width: 15%;
    height: 4%;
    font-size: 17px;
    border: 2px solid rgb(231, 231, 231);
}

.chats{

    /* display: flex;
    flex-direction: column; */
    background-color: rgb(143, 143, 143);
    width: 100%;
    height: 100vh;
    top: 60px;
    min-height: 85vh;
    position: absolute;
    overflow-y: auto;
    transform: translateY(6.1%);
    z-index: 0;
    div{
        height: 10vh;
        border: 2px solid rgb(0, 0, 0);
        display: flex;
        font-family: sans-serif;
        align-items: center;
        img{
            width: 50px;
            height: 50px;
            background-size: 100% 100%;
            border-radius: 50%;
        }
    }
}

.aside{
    background-color: rgb(56, 56, 56);
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0px;
    overflow-y: auto;
    z-index: 3;
    div{
        height: 7vh;
        width: 90%;
        border: 2px solid rgba(255, 255, 255, 0);
    }
    .set{
        width: 100%;
        height: 6vh;
        background-color: transparent;
        color: white;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        margin-left: -15%;
    }
}
.clean{
    background-color: rgba(0, 0, 0, 0.118);
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    
}


.search{
    width: 100%;
    height: 100vh;
    background-color: rgb(132, 132, 132);
    position: absolute;
    top: 0px;
    z-index: 3;
    position: fixed;
    display: none;
    button{
        width: 10%;
        height: 5vh;
        margin: 10px 10px;
        background-color: transparent;
        border: none;
        font-size: 30px;
        
    }
    input{
        width: 70%;
        height: 4vh;
        position: absolute;
        top: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;
        font-size: 20px;
        color: white;
        outline: none;
    }
    input::placeholder{
        color: #fff;
    }
    
    .list{
        background-color: black;
        width: 100%;
        height: 90vh;
        overflow-y: auto;
        div{
            width: 100%;
            height: 10vh;
            border: 2px solid white;
            font-family: sans-serif;
            h1{
                color: #fff;
            }
        }
        
    }
}

.chats div:hover{
    background-color: grey;
}

.aside{
    div{
        width: 100%;
        i{
            font-size: 25px;
        margin-left: 15px;
        margin-top: 15px;
        position: absolute;
        color: rgb(101, 101, 101);
        display: flex;
        justify-content: start;
        align-items: center;
    }
    h1{
        color: #fff;
        font-family: sans-serif;
        font-size: 17px;
        display: flex;
        margin-top: 20px;
        font-weight: 400;
        align-items: center;
        justify-content: start;
        margin-left: 70px;
    }
    
}
div:hover{
    background-color: grey;
    i{
        color: black;
    }
    h1{
        color: black;
    }
}

#p1{
    color: rgb(176, 176, 176);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
#p2{
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(176, 176, 176);
    margin-bottom: 30px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    width: 100%;   
    border: none;
    height: 200px;
    #i1{
        width: 100%;
        height: 100%;
        background-size: cover;
        position: relative;
        filter: contrast(60%) grayscale(10);
    }
    
    #i2{
        width: 20%;
        height: 25%;
        position: relative;
        top: -80%;
        left: 15px;
        background-size: 100% 100%;
        border-radius: 50%;
    }
    h3{
        position: absolute;
        color: #fff;
        font-family: cursive;
        top: 15%;
        margin-left: 10px;
        font-weight: 400;
        b{
            color: rgb(255, 170, 0);
        }
        
    }
    p{
        color: #c5c5c5;
        position: absolute;
        font-family: sans-serif;
        font-size: 12px;
        left: 10px;
        top: 18%;
    }
}
}

.aside div:nth-child(3){
    border-bottom: 1px solid #000000 ;
}
.aside div:nth-child(6){
    border-bottom: 1px solid #000000 ;
}
.aside div:nth-child(11){
    border-bottom: 1px solid #000000 ;
}









.password{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: grey;
    z-index: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    font-family: sans-serif;
    display: none;
    input{
        width: 180%;
        margin-left: -40%;
        outline: none;
        height: 4vh;
        font-size: 15px;
        text-indent: 15px;
    }
    input::placeholder{
        color: black;
        font-size: 15px;
        
    }
    legend{
        color: #fff;
        margin-left: -40%;
    }

    button{
        padding: 10px 30px;
        font-size: 20px;
    }

    #last{
        position: absolute;
        font-size: 30px;
        top: 40px;
        left: 40px;
    }
}